html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #454138;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Optima", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1em;
  letter-spacing: 2px;
  margin: 0 0 25px 0;
}
h1 {
  font-size: 24px;
  color: #193c1e;
  text-transform: uppercase;
}
h2 {
  font-size: 20px;
  color: #196d90;
  text-transform: uppercase;
}
h3 {
  font-size: 20px;
  color: #874024;
  margin: 30px 0 20px 0;
}
h4 {
  line-height: 1.6em;
  font-size: 18px;
  color: #874024;
  margin: 0;
  letter-spacing: .06em;
}
h5 {
  line-height: 2em;
  font-size: 16px;
  color: #196d90;
  margin: 0;
  letter-spacing: .06em;
}
p {
  font-size: 14px;
  line-height: 1.6em;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
.adtl-horizontal-padding {
  padding: 0 45px;
}
label {
  font-weight: normal;
  font-size: 13px;
}
.custom-checkbox {
  display: block;
  clear: both;
}
.custom-checkbox label:before {
  display: block;
  float: left;
  content: "";
  width: 15px;
  height: 15px;
  margin: 0 10px 15px 0;
  line-height: 23px;
  border: solid 1px #e5e3e3;
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  outline: none;
}
input[type=checkbox]:checked + label:before,
input[type=checkbox] + label.checked:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #454138;
  text-align: center;
  line-height: 20px;
}
.custom-checkbox label {
  float: left;
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
  padding: 8px 6px;
  margin: 0 0 20px;
}
input[type="checkbox"] {
  margin: 0;
  display: none;
}
input[type="radio"] {
  margin: 0 5px 0 0;
}
input[type="radio"] + label {
  margin: 0 15px 0 0;
}
select {
  background: transparent;
  padding: 5px;
  font-size: 14px;
  line-height: 1em;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 150px;
}
input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  border: solid 1px #e5e3e3;
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  outline: none;
}
.sticky-header {
  height: 40px;
  z-index: 9999;
  background: #5e9680;
  /* Old browsers */
  background: -moz-radial-gradient(bottom, circle cover, #5e9680 0%, #00663f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%, #5e9680), color-stop(100%, #00663f));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(bottom, circle cover, #5e9680 0%, #00663f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(bottom, circle cover, #5e9680 0%, #00663f 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(bottom, circle cover, #5e9680 0%, #00663f 100%);
  /* IE10+ */
  background: radial-gradient(circle at bottom, #5e9680 0%, #00663f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e9680', endColorstr='#00663f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.header-highlight {
  height: 50px;
  background-color: rgba(0, 102, 63, 0.3);
  z-index: 9998;
}
.map-footer-cont {
  padding-left: 0;
  padding-right: 0;
}
.map-footer {
  width: 100%;
  height: 300px;
}
.banner-spacer {
  height: 40px;
}
.home-banner {
  height: 430px;
  background: url("../images/home-banner.jpg") center top no-repeat;
}
.subpage-banner {
  width: 100%;
  height: 225px;
  padding: 0;
  background: url("../images/home-banner.jpg") center top no-repeat;
  overflow: hidden;
}
.internal-page-header {
  z-index: 1000;
}
.logo-nav-search {
  z-index: 1500;
}
.home-promo {
  height: 240px;
  margin-bottom: 25px;
}
.promo-content {
  padding: 10% 7%;
  width: 63%;
}
.main-contnent-margins {
  margin-top: 45px;
  margin-bottom: 45px;
}
.footer-primary {
  padding-top: 45px;
  padding-bottom: 25px;
  background: #5e9680;
  background: -webkit-linear-gradient(left, #00663f, #247b59, #00663f);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #00663f, #247b59, #00663f);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #00663f, #247b59, #00663f);
  /* For Fx 3.6 to 15 */
  background: linear-gradient(to right, #00663f, #247b59, #00663f);
  /* Standard syntax (must be last) */
}
.footer-secondary {
  background: #264051;
  background: -webkit-linear-gradient(left, #173245, #264051, #173245);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #173245, #264051, #173245);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #173245, #264051, #173245);
  /* For Fx 3.6 to 15 */
  background: linear-gradient(to right, #173245, #264051, #173245);
  /* Standard syntax (must be last) */
}
.legal-footer {
  font-size: 10px;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
/*General Modules*/
.mtn-container {
  position: relative;
  border-bottom: solid 1px #ededed;
  height: 11px;
  margin: 35px 20px 55px;
  z-index: 100;
}
.mtn-inner {
  position: relative;
  width: 45px;
  height: 11px;
  margin: 0 auto;
  background: url('../images/mtn-border.jpg') center top no-repeat;
  z-index: 200;
}
.sidebar-body {
  font-size: 14px;
  margin-bottom: 35px;
}
.title {
  font-weight: bold;
  margin: 15px 0;
}
.img-topper {
  margin: 2px 0 40px;
}
.img-small {
  height: 20px;
}
.img-sidebar {
  width: 100%;
}
.wp-post-image {
  border: solid 2px #1a6c93;
  width: 100%;
}
.btn {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 100;
  line-height: 1em;
  min-width: 125px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-user-select: none;
  padding: 12px 24px;
}
.btn-default {
  color: #00663f;
  background-color: #e6f0eb;
  margin: 10px 6px 3px;
  font-weight: normal;
}
.btn-default:hover {
  background-color: #00663f;
  color: #fff;
  border: 1px solid transparent;
}
.btn-header {
  margin-top: -9px;
}
.btn-footer {
  margin: 20px 0;
}
.padding-right {
  padding-right: 20px;
}
/*Sicky Header Module Styles*/
.header-bug {
  display: inline-block;
  margin: 5px 0 5px -15px;
  padding: 6px 0 6px 55px;
  font-size: 15px;
  background: url("../images/header-bug.png") left top no-repeat;
}
@media (min-width: 836px) {
  #VVH-text {
    display: block;
  }
}
@media (max-width: 836px) {
  #VVH-text {
    visibility: hidden;
  }
}
.header-number {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  font-size: 13px;
  padding: 11px 0;
}
/*Sticky Footer Styles*/
.footer-logo {
  width: 90%;
}
.footer-contact {
  margin-left: 10px;
}
.footer-address {
  margin: 35px 0 22px;
}
.footer-email {
  color: white;
  text-decoration: none;
}
.footer-email:hover {
  color: white;
  text-decoration: underline;
}
/*Homepage*/
/*Banner Module Styles*/
@media (min-width: 836px) {
  .mobile-nav {
    display: none;
  }
  .banner-logo {
    top: 60px;
    left: 24px;
  }
  .banner-title {
    bottom: 65px;
    left: 43px;
    font-size: 46px;
    line-height: 1.2em;
  }
  .search {
    width: 190px;
    top: 17px;
    right: 43px;
  }
  .main-nav {
    top: 83px;
    right: 45px;
    font-size: 16px;
  }
  /*Main Menu Styles and Dropdown*/
  ul.banner-menu {
    padding: 0;
    margin: 0;
  }
  ul.banner-menu ul.sub-menu {
    padding: 5px 17px;
    background-color: #22272a;
    background-color: rgba(34, 39, 42, 0.8);
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
  }
  ul.banner-menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
    border-top: solid 4px transparent;
  }
  ul.banner-menu ul.sub-menu li {
    list-style-type: none;
    display: block;
    margin-left: 0;
    border-top: none;
    border-bottom: solid 1px #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  }
  ul.banner-menu ul.sub-menu li:last-child {
    border-bottom: none;
  }
  /*Link Appearance*/
  ul.banner-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    display: inline-block;
    padding: 4px 0 10px 0;
  }
  ul.banner-menu li ul.sub-menu li a {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 0 10px 2px;
    font-size: 14px;
  }
  /*Make the parent of sub-menu relative*/
  ul.banner-menu li {
    position: relative;
  }
  /*sub menu*/
  ul.banner-menu li ul.sub-menu {
    display: none;
    position: absolute;
    top: 35px;
    left: -5px;
    min-width: 200px;
  }
  ul.banner-menu li ul.sub-menu li:hover {
    border-top: none;
  }
  ul.banner-menu li ul.sub-menu li a:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  ul.banner-menu li:hover {
    border-top: solid 4px #268e66;
  }
  ul.banner-menu li:hover ul.sub-menu {
    display: block;
  }
  .current-menu-parent {
    border-top: solid 4px #268e66 !important;
  }
  .current-menu-item {
    border-top: solid 4px #268e66 !important;
  }
  ul.sub-menu .current-menu-item {
    border-top: solid 4px transparent !important;
  }
}
@media (max-width: 836px) {
  .home-banner {
    height: 250px;
  }
  .banner-logo {
    top: 50px;
    left: 0;
    width: 100%;
  }
  .banner-logo a {
    display: block;
  }
  .banner-logo img {
    display: block;
    width: 65%;
    margin: 0 auto;
  }
  .banner-title {
    width: 90%;
    margin: 0 5%;
    text-align: center;
    bottom: 30px;
    left: 0;
    font-size: 28px;
    line-height: 1.2em;
  }
  .search {
    width: 100%;
    margin: 0 5%;
    top: 17px;
    right: 0;
  }
  .navbar-toggle {
    border: solid 1px #fff;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    -webkit-border-radius: 1px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 1px;
    -moz-background-clip: padding;
    border-radius: 1px;
    background-clip: padding-box;
    background-color: #fff;
  }
  /*Main Menu Styles and Dropdown*/
  ul.banner-menu {
    display: none;
  }
  /*Main Menu Styles and Dropdown*/
  ul.mobile-menu {
    padding: 0;
    margin: 55px 0 0 0;
  }
  ul.mobile-menu ul.sub-menu {
    padding: 0;
  }
  ul.mobile-menu li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-bottom: 20px;
  }
  ul.mobile-menu ul.sub-menu li {
    list-style-type: none;
    display: block;
    margin: 0;
    border-top: none;
    width: 100%;
  }
  ul.mobile-menu ul.sub-menu li:last-child {
    border-bottom: none;
  }
  /*Link Appearance*/
  ul.mobile-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    padding: 7px 15px;
  }
  ul.mobile-menu li ul.sub-menu li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 0 10px 2px;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 15px;
  }
  .mobile-nav {
    display: block;
    height: 50px;
    background: #5e9680;
    /* Old browsers */
    background: -moz-radial-gradient(bottom, circle cover, #5e9680 0%, #00663f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%, #5e9680), color-stop(100%, #00663f));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(bottom, circle cover, #5e9680 0%, #00663f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(bottom, circle cover, #5e9680 0%, #00663f 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(bottom, circle cover, #5e9680 0%, #00663f 100%);
    /* IE10+ */
    background: radial-gradient(circle at bottom, #5e9680 0%, #00663f 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e9680', endColorstr='#00663f', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
  }
  .mobile-nav.open {
    height: 275px;
  }
}
input.search-box {
  display: block;
  width: 90%;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  font-size: 14px;
  padding: 6px 8%;
  border: none;
  -webkit-border-radius: 16px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 16px;
  -moz-background-clip: padding;
  border-radius: 16px;
  background-clip: padding-box;
  background-color: #22272a;
  outline: none;
}
/*Content*/
.home-rotator {
  border: solid 2px #1a6c93;
}
.promo-headline {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.promo-bg1 {
  background: url('../images/dr_promo.png') right bottom no-repeat #e9ebeb;
}
.promo-bg2 {
  background: url('../images/directions_promo.png') right bottom no-repeat #e9ebeb;
}
.promo-bg3 {
  background: url('../images/attr_promo.png') right bottom no-repeat #e9ebeb;
}
/*Current Studies Sidebar*/
.study-promo-content {
  margin: 5px 5px 20px;
}
/*QA Page*/
.qa-module {
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.qa-module:last-child {
  border: none;
}
.qa-letter {
  display: block;
  font-family: "Optima", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #874024;
  margin-top: 6px;
}
.qa-text {
  padding: 10px 15px;
}
.question {
  margin-bottom: 20px;
  background-color: #fcf7f5;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
}
.filter_tags {
  margin: 15px;
}
/*Staff Page*/
.staff-row {
  margin-bottom: 45px;
}
.main-doctor {
  background: #fcf7f5;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
  padding: 20px 15px;
}
.staff-quad-pic {
  display: block;
  width: 66%;
  margin: 0 auto;
}
.staff-name {
  font-weight: bold;
  text-align: center;
  margin: 10px 0 4px;
  line-height: 1em;
}
/*Request Info Page*/
.request-study-list {
  font-size: 14px;
}
.request-info-para {
  margin-bottom: 30px;
}
.custom-checkbox label.request-study-list:before {
  display: block;
  float: left;
  content: "";
  width: 18px;
  height: 18px;
  margin: 0 10px 20px 0;
  line-height: 23px;
  border: solid 1px #e5e3e3;
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  outline: none;
}
input[type=checkbox]:checked + label.request-study-list:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #454138;
  text-align: center;
  line-height: 20px;
}
.custom-checkbox label {
  float: left;
  margin-bottom: 10px;
}
.inline-check {
  display: inline-block;
  margin-right: 20px;
}
.styled-select.not_chosen {
  color: #aaa;
}
.contact-pref {
  width: 33.3%;
  float: left;
  padding: 7px 0;
  margin: 0 0 20px;
  background-color: #fcf7f5;
  text-align: center;
}
/*Contact Page*/
.contact-form-cont {
  margin-bottom: 25px;
}
.contact-icon {
  display: table;
  text-align: center;
  background-color: #00663f;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  margin: 25px auto 15px;
  vertical-align: middle;
  width: 130px;
  height: 130px;
}
.contact-icon i {
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  font-size: 44px;
}
.contact-icon i.glyphicon-home {
  letter-spacing: 3px;
}
.contact-info {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}
.wpcf7-validation-errors,
.wpcf7-not-valid-tip {
  display: block;
  padding: 15px;
  margin: 20px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.wpcf7-not-valid-tip {
  margin: -10px 0 15px;
  padding: 5px;
}
.wpcf7-mail-sent-ok {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.flexible-container {
  position: relative;
  padding-bottom: 30%;
  padding-top: 30px;
  height: 0;
  min-height: 300px;
  overflow: hidden;
}
.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Media Query*/
@media (max-width: 992px) {
  .img-trial {
    display: none;
  }
}
.optima {
  font-family: "Optima", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.no-margin {
  margin: 0;
}
.text-shadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.placeholder {
  color: #aaa;
}
.bold {
  font-weight: bold;
}
.dark-bg {
  color: #fff;
}
.dark-bg a {
  color: #fff;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.row-margin {
  margin-bottom: 35px;
}
.page-name {
  position: absolute;
  bottom: 2px;
  margin: 0;
  color: #fff;
  font-size: 46px;
}
.map-shadow {
  text-shadow: 0 0 75px rgba(0, 0, 0, 0.8);
}
.section-border {
  padding: 0 0 10px 4px;
  border-bottom: solid 1px #d5d3d3;
  margin: 0 0 25px;
}
.uppercase {
  text-transform: uppercase;
}
.inside-h4 {
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
  margin: 0 0 0 5px;
}
.disabled {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
